@import "../Varibles/Varibles";
@import "../mixins/mixins";
@import "../PlaceHolders/placeholders";
.download {
  padding: 50px;
  .Section-title {
    text-align: center;
    p {
      @include breakPoint(medium) {
        width: 540px;
      }
      @include breakPoint(large) {
        width: 540px;
      }
      margin: auto;
      margin-top: 16px;
    }
  }
  .borwser-container {
    @include breakPoint(mobile) {
      padding: 0;
      margin-top: 30px;
    }
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    padding: 70px;
    .card {
      overflow: hidden;
      grid-column: span 4;
      align-items: center;
      justify-content: center;
      padding: 20px;
      box-shadow: 2px 7px 19px -6px #5368df5e;
      border-color: transparent;
      .browser-info {
        text-align: center;
        margin-top: 30px;
      }
      .Add-install-btn {
        @include Button(195px, white, $Soft-Blue);
        @extend %blue-button;
        margin-top: 20px;
      }
      .dots-img {
        margin: 30px 0 5px;
      }
      .version {
        color: $Grayish-Blue;
      }
      &.FireFox {
        transform: translateY(30px);
      }
      &.Opera {
        transform: translateY(60px);
        @include breakPoint(small) {
          grid-column: span 12;
        }
      }
      @include breakPoint(small) {
        grid-column: span 6;
        transform: translateY(0px) !important;
      }
      @include breakPoint(mobile) {
        grid-column: span 12;
        transform: translateY(0px) !important;
      }
    }
  }
  .icon-img {
    width: 100px;
    height: 100px;
  }
}
